<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqWp8kUK0n1j4v3URsPBe_NwHa3qqNJu4</string>
	<key>GCM_SENDER_ID</key>
	<string>587335147842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ixt.petanqueclub</string>
	<key>PROJECT_ID</key>
	<string>petanleague</string>
	<key>STORAGE_BUCKET</key>
	<string>petanleague.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587335147842:ios:13ddc752958a33ddede8db</string>
</dict>
</plist>